page-contact {

    
    
    
}
.toast-success{
    > div{
        background-color:#32db64!important;
    }
}

.toast-fail{
    > div{
        background-color:#db3232!important;
    }
}
.toast-info{
    > div{
        background-color:#4332db!important;
    }
}